@charset "utf-8";

body{
  font-family: sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

ul, li {
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img{
  border: none 0px #fff;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, div {
  display: block;
  box-sizing: border-box;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  padding-bottom: 60px;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 100;
  padding: 1em;
}
.skip-link:focus {
  top: 0;
  color: white;
}

#restaurant-nav {
  width: 100%;
  background-color: #252831;
  font-weight: 200;
  padding: 20px 0;
  text-align:center;
  text-transform: uppercase;
}

#restaurant-nav h1 a {
  color: #fff;
  font-size: 0.6em;
  letter-spacing: 10px;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 1em;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  align-items: center;
  padding: 10px;
}

.filter-options h2 {
  color: white;
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-size: 1em;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  list-style: outside none none;
  padding-inline-start: 0px;
}

#restaurants-list li {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #ccc;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270px;
  height: 100%;
}

#restaurants-list img {
  background-color: #ccc;
  margin: 0;
  max-width: 100%;
  width: auto;
  height: 248px;
}

#restaurants-list li h1 {
  color: #f18200;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  padding: 8px 30px;
  margin-top: 15px;
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li a:focus {
  color: black;
}

/* ====================== Restaurant Details ====================== */

#restaurant-name {
  color: #f18200;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  /* margin: 15px 0 30px; */
  padding: 40px 0;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
  height: auto;
  border-radius: 15px 0 0 0;
}

#restaurant-address {
  font-size: 1.1em;
  font-weight: bold;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-container, #reviews-container {
  width: 90%;
  margin: 0 auto;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
}

#reviews-list {
  padding-inline-start: 0px;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #ddd;
  /* border: 2px solid #f3f3f3; */
  list-style-type: none;
  overflow: hidden;
  border-radius: 15px 0 0 0;
  margin: 15px;
}

#reviews-list .review-header {
  background-color: #404042;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

#reviews-list .review-name {
  /* font-size: 1.5em; */
  color: #fff;
}

#reviews-list .review-date {
  color: #ddd;
}

#reviews-list .review-rating {
  background-color: orange;
  color: #fff;
  display: inline-block;
  margin: 20px;
  padding: 0 20px;
}

#reviews-list .review-comments {
  padding: 0 20px;
}
